.question-card {
    border: 1px solid;
    padding: 0 1.25rem;
    margin-bottom: 0.15rem;
    border-radius: 3px;
}

.visit-poll {
    padding: 1.25rem 0 1.5rem;
    text-align: center;
}

.link {
    color: black;
    background-color: #dedede;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    border-radius: 4px;
}

.headPart {
    display: flex;
    padding: 1rem .25rem;
    align-items: center;
}

.headPart img {
    border-radius: 12px;
    margin-left: 3rem;
}